<ion-header>
  <ion-toolbar class="header_toolbar header_gradient" border-color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{parentPage}}" color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header_flex_logo">
        <img class="header_width_logo" src="/assets/img/cookez_logo.png" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar class="menu" color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon color="primary" sold="start" name="avatar" src="assets/avatar.svg" class="ion-margin-end"></ion-icon>
        Mon compte
      </ion-item>
      <ion-item>
        <ion-icon color="primary" sold="start" name="recipes" src="assets/recipes.svg" class="ion-margin-end">
        </ion-icon>
        Mes recettes
      </ion-item>
      <ion-item disabled>
        <ion-label>
          <ion-icon sold="start" name="informations" src="assets/informations.svg" class="ion-margin-end"></ion-icon>
          Notifications
        </ion-label>
        <ion-badge color="primary" slot="end">22</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon color="primary" name="disconnect" src="assets/disconnect.svg" class="ion-margin-end"></ion-icon>
          Se déconnecter
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-label slod="bottom" class="copyright">
      ©Tous droits réservés. David, Jennifer, Xavier, Thomas 2019
    </ion-label>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content>
  <!-- Main block -->
  <div class="fridge_empty_page">
    <!-- Title fridge empty page -->
    <h1 class="page_title">Votre frigo</h1>
    <!-- Content fridge empty : img, text, button add ingredients -->
    <div class="fridge_empty_content">
      <img src="assets/img/crying.svg" width="150px"/>
        <div class="fridge_empty_text_block">
            <h2 class="fridge_empty_title">Votre frigo est vide...</h2>
            <p class="fridge_empty_text">
              Ajoutez de nouveaux aliments à votre frigo et profitez de 
              recettes basées sur ce que vous avez sous la main !
            </p>
        </div>
        <!-- Button add ingredients -->
        <div class="fridge_empty_btn_add btn_size" (click)="goToTheIngredientCategoryPage()">
            <span class="fridge_empty_btn_add_text">Ajouter des ingrédients</span>
          </div>
    </div>
  </div>
</ion-content>
