<ion-header>
  <ion-toolbar class="header_toolbar header_gradient" border-color="primary">
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header_flex_logo">
        <img class="header_width_logo" src="/assets/img/cookez_logo.png" [routerLink]="'/accueil/onglets/accueil-recette'"/>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar class="menu" color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goToTheUserInfoPage()">
        <ion-icon color="primary" sold="start" name="avatar" src="assets/avatar.svg" class="ion-margin-end"></ion-icon>
        Mon compte
      </ion-item>
      <ion-item>
        <ion-icon color="primary" sold="start" name="recipes" src="assets/recipes.svg" class="ion-margin-end">
        </ion-icon>
        Mes recettes
      </ion-item>
      <ion-item disabled>
        <ion-label>
          <ion-icon sold="start" name="informations" src="assets/informations.svg" class="ion-margin-end"></ion-icon>
          Notifications
        </ion-label>
        <ion-badge color="primary" slot="end">22</ion-badge>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-label>
          <ion-icon color="primary" name="disconnect" src="assets/disconnect.svg" class="ion-margin-end"></ion-icon>
          Se déconnecter
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-label slod="bottom" class="copyright">
      ©Tous droits réservés. David, Jennifer, Xavier, Thomas 2019
    </ion-label>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content>
  <div class="mg_top_10" *ngFor="let type of types | keyvalue">

    <ion-card class="ion-text-center mg_bottom_10" (click)="goToTheCategoryPage(type.value.id)">
      <div class="block_home" [style.background-image]="safeImage(type.value.image)">
        <ion-card-header>
          <ion-card-title class="ion-text-uppercase home_titles">{{ type.value.nom }}</ion-card-title>
        </ion-card-header>
      </div>
    </ion-card>

  </div>
</ion-content>