<ion-header>
  <ion-toolbar class="header_toolbar header_gradient" border-color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false" color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header_flex_logo">
        <img class="header_width_logo" src="/assets/img/cookez_logo.png"/>
      </div>
    </ion-title>
    <ion-buttons slot="primary" class="header_flex_connexion">
      <ion-icon slot="start" name="connexion" src="assets/connexion.svg" class="ion-margin-end header_width_connexion"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar class="menu" color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goToTheUserInfoPage()">
        <ion-icon color="primary" sold="start" name="avatar" src="assets/avatar.svg" class="ion-margin-end"></ion-icon>
        Mon compte
      </ion-item>
      <ion-item>
        <ion-icon color="primary" sold="start" name="recipes" src="assets/recipes.svg" class="ion-margin-end"></ion-icon>
        Mes recettes
      </ion-item>
      <ion-item disabled>
        <ion-label>
          <ion-icon sold="start" name="informations" src="assets/informations.svg" class="ion-margin-end"></ion-icon>
          Notifications
        </ion-label>
        <ion-badge color="primary" slot="end">22</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon color="primary" name="disconnect" src="assets/disconnect.svg" class="ion-margin-end"></ion-icon>
          Se déconnecter
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-label slod="bottom" class="copyright">
      ©Tous droits réservés. David, Jennifer, Xavier, Thomas 2019
    </ion-label>
  </ion-content>
</ion-menu>

<ion-content>
  <!-- Main block -->
  <div class="profile_page">
    <!-- Title profile page -->
    <h1 class="profile_title">Votre profil</h1>
    <!-- Content profile : pseudo, mail, change password, delete account -->
    <div class="profile_content">
      <img src="assets/img/profile.svg" width="100px"/>
      <div class="profile_text_block">

        <!-- Pseudo -->
        <div class="profile_section">
          <div class="profile_pseudo">
            <ion-label class="profile_label" position="stacked">Pseudo</ion-label>
            <p class="profile_value">Jennifer</p>
          </div>
        </div>
    
        <div class="line"></div>

        <!-- Mail -->
        <div class="profile_section">
          <div class="profile_mail">
            <ion-label class="profile_label" position="stacked">Adresse mail</ion-label>
            <p class="profile_value">jennifer.marsalc@gmail.com</p>
          </div>
        </div>
    
        <div class="line"></div>

        <!-- Password -->
        <div class="profile_section">
          <div class="profile_password">
            <ion-label class="profile_label" position="stacked">Mot de passe</ion-label>
          </div>
          <div class="profile_password_change">
            <ion-input class="profile_input" placeholder="Nouveau mot de passe"></ion-input>
          </div>
          <div class="profile_password_conf">
            <ion-input class="profile_input" placeholder="Confirmez nouveau mot de passe"></ion-input>
          </div>
        </div>
      </div>
      
      <!-- Button add ingredients -->
      <div class="profile_btn_delete btn_size">
          <span class="profile_btn_delete_text">Supprimer mon compte</span>
        </div>
    </div>
  </div>
</ion-content>
