<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil-recette">
      <ion-icon class="icon_size" name="home" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="creation-recette">
      <ion-icon class="icon_size" src="assets/add.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="frigo">
      <ion-icon  class="icon_size" name="fridge" src="assets/fridge.svg" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="favoris">
      <ion-icon class="icon_size" name="star" color="primary"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
