<ion-header>
  <ion-toolbar class="header_toolbar header_gradient" border-color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref={{parentPage}} color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header_flex_logo">
        <img class="header_width_logo" src="/assets/img/cookez_logo.png" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar class="menu" color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goToTheUserInfoPage()">
        <ion-icon color="primary" sold="start" name="avatar" src="assets/avatar.svg" class="ion-margin-end"></ion-icon>
        Mon compte
      </ion-item>
      <ion-item>
        <ion-icon color="primary" sold="start" name="recipes" src="assets/recipes.svg" class="ion-margin-end">
        </ion-icon>
        Mes recettes
      </ion-item>
      <ion-item disabled>
        <ion-label>
          <ion-icon sold="start" name="informations" src="assets/informations.svg" class="ion-margin-end"></ion-icon>
          Notifications
        </ion-label>
        <ion-badge color="primary" slot="end">22</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon color="primary" name="disconnect" src="assets/disconnect.svg" class="ion-margin-end"></ion-icon>
          Se déconnecter
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-label slod="bottom" class="copyright">
      ©Tous droits réservés. David, Jennifer, Xavier, Thomas 2019
    </ion-label>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content color="medium">
  <!-- Searchbar -->
  <ion-searchbar type="text" debounce="500" (ionInput)="getFilteredRecettes($event)" clearIcon
    placeholder="Rechercher une recette"></ion-searchbar>
  <!-- Recipe List Page Title -->
  <h1 class="page_title">{{ typedata.nom }}</h1>
  <!-- First row -->
  <ion-row *ngIf="recettesFiltered.length > 0">
    <!-- First card -->
    <ion-col size="6" *ngFor="let recette of recettesFiltered | keyvalue">
      <ion-card class="list_recipe_card_block ion_card_margin" (click)="goToTheDetailsRecipePage(recette.value.id)">
        <div class="list_recipe_card">
          <div class="list_recipe_img" [style.background-image]="safeImage(recette.value.image)">
            <!-- Add img css -->
          </div>
          <div class="list_recipe_card_infos">
            <h1 class="list_recipe_card_title">{{ recette.value.nom }}</h1>
            <div class="list_recipe_info_block">
              <div class="list_recipe_info">
                <img src="assets/icon/time.svg" width="30px" />
                <span class="list_recipe_info_text">{{ recette.value.tempsTotal }}</span>
              </div>
              <div class="list_recipe_info">
                <img src="assets/icon/level.svg" width="30px" />
                <span class="list_recipe_info_text">{{ recette.value.difficulte }}</span>
              </div>
              <div class="list_recipe_info">
                <img src="assets/icon/favorite.svg" width="30px" />
                <span class="list_recipe_info_text">{{ recette.value.noteMoyenne }}</span>
              </div>
            </div>
          </div>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>