<ion-header>
  <ion-toolbar class="header_toolbar header_gradient" border-color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="header_flex_logo">
        <img class="header_width_logo" src="/assets/img/cookez_logo.png" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <form (ngSubmit)="registerForm()">
    <ion-item>
      <ion-label position="floating" > Email</ion-label>
      <ion-input type="email" [(ngModel)]="mail" name="mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Confirmer le mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="passwordconfirm" name="passwordconfirm"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="full" type="submit">Créer un compte</ion-button>
  </form>
  <ion-label id="errorinfo" color="danger">{{this.errorinfo}}</ion-label>

</ion-content>
