<ion-header>
  <ion-toolbar class="header_toolbar header_gradient" border-color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="" defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="header_flex_logo">
        <img class="header_width_logo" src="/assets/img/cookez_logo.png" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <form (ngSubmit)="registerForm()">
    <ion-item>
      <ion-label position="floating" > Email</ion-label>
      <ion-input type="email" [(ngModel)]="register.email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="register.password" name="password"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="full" type="submit">Créer un compte</ion-button>
  </form>

  <ion-button color="primary" expand="full" (click)="getData()">Test</ion-button>

</ion-content>
